.home {
	width: 400px;
	margin-top: 60px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.home__title {
	text-align: center;
	color: #330900;
	font-size: 32px;
	font-family: 'Montserrat';
	margin-bottom: 40px;
}